/private
/vendor
/web/core
/web/sites/default/*/files 
/web/sites/*/files
/web/modules/contrib/
/web/themes/contrib
/web/sites/*/settings*.php
/web/sites/*/services*.yml
/web/sites/simpletest
/web/sites/*/modules/custom/*/node_modules/
/web/sites/*/modules/custom/*/tests/
/web/sites/*/modules/custom/*/tmp/
/web/sites/*/modules/custom/*/vendor/
/web/css/*.map
/web/js/*.map
/web/libraries/
/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/modules/contrib/
/web/sites/*/themes/contrib/
/web/core/
/web/vendor/